{
  "parser": "@typescript-eslint/parser",
  "rules": {
    "no-console": "error",
    "no-debugger": "error",
    "eqeqeq": "error",
    "no-unused-vars": "error",
    "no-unused-expressions": ["error", { "allowShortCircuit": true }]
  }
}
